<ion-tabs>

    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="register">
        <ion-icon name="flash"></ion-icon>
        <ion-label>Register</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="signin">
        <ion-icon name="apps"></ion-icon>
        <ion-label>Signin</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="password">
        <ion-icon name="send"></ion-icon>
        <ion-label>Forgot Password</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  
  </ion-tabs>
