<ion-header>
  <ion-toolbar>
    <ion-title>password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <form #f="ngForm" (ngSubmit)="password()">
        <ion-list>
          <ion-item>
              <ion-label>Email</ion-label>
              <ion-input [(ngModel)]="email" name="email" required type="email" email></ion-input>
          </ion-item>
        </ion-list>
      <ion-button expand="block" type="submit" [disabled]="!f.valid">Recover Password</ion-button>
    </form>
</ion-content>
